@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    margin-top: -40px;
    height: 100%
}

body {
    display: grid;
    place-items: center;
    background: #AB47BC
}

.card {
	color:#fff;
    width: 350px;
    border-radius: 10px;
   background: linear-gradient(145deg, #4d0c58, #6d0580);
box-shadow:  20px 20px 60px #54135e, 
             -20px -20px 60px #9f45af;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow: inset 20px 20px 60px #913ca0, 
             inset -20px -20px 60px #c552d8;
}

.num{
	
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
   border-radius: 50%;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
}


.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #af15ca;
box-shadow:  28px 28px 57px #60246b, 
             -28px -28px 57px #5d106b;
	
}
.profile_button:hover{
    background: #d504fa;
}
.profile-edit{
    height: 20px;
    width: 40px;
    position: absolute;
    right: 10%;
    top: 85%;
}
.rounded-circle{
    position: relative;
}